<app-nav-bar></app-nav-bar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"> </script>
<div class="row">
    <div class="col-sm-4 col-md-5 col-xs-2 col-lg-3" *ngFor="let user of dr_data">
        <!-- <input id="slider" class="customSlider" type="checkbox"> -->
        <!-- <label for="slider"></label> -->

        <div class="wrapper">
            <div class="top-icons">                
            </div>

            <div class="profile">
                <img [src]="get_profile_photo(user.id)"
                    class="thumbnail">
                <!-- <div class="check"><i class="fas fa-check"></i></div> -->
                <h3 class="name">{{user.first_name}} {{user.last_name}}</h3>
                <p class="title"><cite title="San Diego, USA">San Diego, USA <i class="fa fa-map-marker"></i></cite></p>
                <!-- <mat-tab-group>
                    <mat-tab label="Weight">{{user.weight}} kg</mat-tab>
                    <mat-tab label="Gender">{{user.gender}}</mat-tab>
                    <mat-tab label="Height">{{user.height}} cm</mat-tab>
                    <mat-tab label="Blood Group">{{user.bloodGroup}}</mat-tab>
                    <mat-tab label="Medications">{{user.medications}}</mat-tab>
                </mat-tab-group> -->
                <b>Weight</b> {{user.weight}} kg<br>
                <b>Gender</b> {{user.gender}}<br>
                <b>Height</b> {{user.height}} cm<br>
                <b>Blood Group</b> {{user.bloodGroup}}<br>
                <b>Medications</b> {{user.medications}}
                <button type="button" class="btn" mat-button mat-raised-button (click)="chatUser(user.username,user.first_name,user)">Send
                    Message</button>
            </div>           
        </div>
    </div>
</div>