<body>
<div class="container-fluid pl-0 pr-0 bg-img clearfix parallax-window2 BgImage" data-parallax="scroll">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="fh5co-banner-text-box">
      <div class="quote-box pl-5 pr-5 wow bounceInRight">
        <h2> Welcome To <br><span>BLOOD CONNECT</span> </h2>
      </div>
      <a href="receiver" class="btn text-uppercase btn-outline-danger btn-lg mr-3 mb-3 wow bounceInUp"> Donate Blood</a> <a href="donor" class="btn text-uppercase btn-outline-danger btn-lg mb-3 wow bounceInDown"> Receive Blood</a> </div>
  </div>
</div>
<div class="container-fluid fh5co-network">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="wow bounceInUp">FOR</h4>
        <h2 class="wow bounceInRight">HUMANS</h2>
        <hr />
        <h5 class="wow bounceInLeft">BLOOD DONATION CAMP 2020</h5>
        <p class="wow bounceInDown">Governor E.S.L. Narsimhan at a function held at Raj Bhavan on Thursday • Mr. Kishan motivated the donors to contribute 1,000 units of blood to the IRCS • ​Remember that the happiest people are not those getting more, but those giving more. • Donate blood and be a hero of someone’s life. • Get​ clients short-term wins from long-term goals • So you want to operate multiple clubs</p>
      </div>
      <div class="col-md-6">
        <figure class="wow bounceInDown"> <img src="static/front_end/assets/images/about-img.jpg" alt="gym" class="img-fluid" /> </figure>
      </div>
    </div>
  </div>
</div>
<div id="about-us" style="background-image: url('static/front_end/assets/images/about-us-bg.jpg'); background-size :cover;" class="container-fluid fh5co-about-us pl-0 pr-0 parallax-window" data-parallax="scroll">
  <div class="container">
    <div class="col-sm-6 offset-sm-6">
      <h2 class="wow bounceInLeft" data-wow-delay=".25s">ABOUT US</h2>
      <hr/>
      <p class="wow bounceInRight" data-wow-delay=".25s"> Since 1990, we have been holding many Blood Donation camps. Many People have became a part of it and we would like you to be a Good Person by Donating Blood. The Red Cross holds about 500 blood drives every day. 1 donation can potentially save up to 3 lives. Every 2 seconds someone in the U.S. needs blood. Less than 38 percent of the population is eligible to give blood or platelets. </p>
      <a class="btn text-uppercase btn-outline-danger btn-lg mr-3 mb-3 wow bounceInDown">Learn More</a> </div>
  </div>
</div>
<div class="container-fluid fh5co-content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pr-0"><img src="static/front_end/assets/images/rode-gym.jpg" alt="gym" class="img-fluid wow bounceInLeft" /> </div>
      <div class="col-md-7 pl-0">
        <div class="wow bounceInRight" data-wow-delay=".25s">
          <div style="margin-top: 50px; color: black; font-weight: bold; background-color: rgba(185, 108, 108, 0.5);" class="card-img-overlay">
            <p>1. Giving blood can reveal potential health problems<br>2. Giving blood can reduce harmful iron stores <br>3. Giving blood may lower your risk of suffering a heart attack </p>
          </div>
          <img src="static/front_end/assets/images/gym-girls.jpg" alt="girls in gym" class="img-fluid" /> </div>
      </div>
    </div>
    <div class="row trainers pl-0 pr-0">
      <div class="col-12 bg-50">
        <div class="quote-box2 wow bounceInDown" data-wow-delay=".25s">
          <h2> MENTORS </h2>
        </div>
      </div>
      <div class="col-md-6 pr-5 pl-5">
        <div class="card text-center wow bounceInLeft" data-wow-delay=".25s"> <img class="card-img-top rounded-circle img-fluid" src="static/front_end/assets/images/karan_bhaiya.png" alt="Card image">
          <div class="card-body mb-5">
            <h4 class="card-title">KARAN BHAIYA BHOOMIKA BHABHI</h4>
            <p class="card-text">You are a wonderful teacher, boss, leader, and friend. You are everything one could look for in a good mentor. You groomed us to be sound professionals and made working with you an interesting and memorable experience. I will always be grateful to you for your support and kindness.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5 pr-5">
        <div class="card text-center wow bounceInRight" data-wow-delay=".25s"> <img class="card-img-top rounded-circle img-fluid" src="static/front_end/assets/images/manoj_bhaiya.png" alt="Card image">
          <div class="card-body mb-5">
            <h4 class="card-title">MANOJ BHAIYA</h4>
            <p class="card-text">Not only are you fantastic at your job, but you have also proven yourself to be a loving and caring person, both in the office and out in the world. Thank you for being there for me and teaching me so much.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gallery">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body mb-4 wow bounceInLeft" data-wow-delay=".25s">
            <h4 class="card-title">Who Can Donate Blood?</h4>
            <p class="card-text">Donor’s age must be between 18-60 years old, and their weight should be more than 45 kgs to be able to donate blood. </p>
          </div>
          <img class="card-img-top img-fluid wow bounceInRight gImages" data-wow-delay=".25s" src="static/front_end/assets/images/g1.jpg" alt="Card image"> </div>
      </div>
      <div class="col-md-4">
        <div class="card"> <img class="card-img-top img-fluid wow bounceInUp gImages" data-wow-delay=".25s" src="static/front_end/assets/images/g2.jpg" alt="Card image">
          <div class="card-body mt-4 wow bounceInDown" data-wow-delay=".25s">
            <h4 class="card-title">How much blood do you donate?</h4>
            <p class="card-text">The average adult has about 10 pints of blood in his body. Roughly one pint is given during a donation. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body mb-4 wow bounceInRight" data-wow-delay=".25s">
            <h4 class="card-title">How often can you donate?</h4>
            <p class="card-text">A healthy donor may donate blood every 56 days or 8 weeks. However, you must consult your doctor first before donating blood and avoid donation if you’re suffering from any disorders. </p>
          </div>
          <img class="card-img-top img-fluid wow bounceInLeft gImages" data-wow-delay=".25s" src="static/front_end/assets/images/g3.jpg" alt="Card image"> </div>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer1 d-flex wow bounceInLeft" data-wow-delay=".25s">
        <div class="d-flex flex-wrap align-content-center"> <a href="home"><img style="width: 33%;" src="static/front_end/assets/images/logo.png" alt="logo" /></a>
          <p>BloodConnect let's Donors and Receivers talk to each other through our website.</p>
          <p>&copy; 2020 Ritesh. No rights reserved.<br> Design by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.</p>
        </div>
      </div>
      <div *ngIf="contactInfo" class="col-md-6 footer2 wow bounceInUp" data-wow-delay=".25s" id="contact">
        <div class="form-box">
          <h4>CONTACT US</h4>
          <table class="table table-responsive d-table">
            <tr>
              <td><input type="text" [(ngModel)]="contactInfo.name" class="form-control pl-0" placeholder="NAME" /></td>
              <td><input type="email" [(ngModel)]="contactInfo.email" class="form-control pl-0" placeholder="EMAIL" /></td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2"><input type="text" [(ngModel)]="contactInfo.mobile" class="form-control pl-0" placeholder="MOBILE NO." /></td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2"><input type="text" [(ngModel)]="contactInfo.messages" class="form-control pl-0" placeholder="MESSAGES" /></td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2" class="text-center pl-0"><button (click)="contactUs()" type="submit" class="btn btn-dark">SEND</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-3 footer3 wow bounceInRight" data-wow-delay=".25s">
        <h5>ADDRESS</h5>
        <p>12, Sukh Sagar colony,
          Mahannada Road, Jabapur, M.P.
        </p>
        <h5>PHONE</h5>
        <p>+91 9174594149</p>
        <h5>EMAIL</h5>        
        <p>riteshramchandani123@gmail.com</p>
        <div class="social-links">
          <ul class="nav nav-item">
            <li><a href="https://www.facebook.com/ritesh.ramchandani.50/" class="btn btn-secondary mr-1 mb-2"><i style="color: black;" class="fa fa-facebook-official"></i></a></li>
            <li><a href="https://github.com/ritesh49"  class="btn btn-secondary mr-1 ml-1 mb-2"><i style="color: black;" class="fa fa-github"></i></a></li>
            <li><a href="https://instagram.com/ritesh_49/"  class="btn btn-secondary mr-1 ml-1 mb-2"><i style="color: palevioletred;" class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ritesh-ramchandani-82b754181/"  class="btn btn-secondary ml-1 mb-2"><i style="color: rgb(107, 107, 190);" class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Optional JavaScript --> 
<!-- jQuery first, then Bootstrap JS, ... -->
<!-- 
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script> -->
</body>