#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px 2px 16px 16px;
    position: fixed;
    z-index: 2000;
    /* left: 80%; */
    right: 10px;
    top: 90px;
    /* bottom: 30px; */
    font-size: 17px;
}


/* 
#img {
    padding:4px 4px;
    cursor: pointer;
}

#cancel {
    left: 100px;
    margin-top: 4px;
    border-radius: 50%;
} */

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 1s;
    /* , fadeout 1s 3.0s; */
    animation: fadein 1s;
    /* , fadeout 1s 3.0s; */
}

@-webkit-keyframes fadein {
    from {
        top: 0px;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0px;
        opacity: 0;
    }
    to {
        top: 90px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 90px;
        opacity: 1;
    }
    to {
        top: 0px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 90px;
        opacity: 1;
    }
    to {
        top: 0px;
        opacity: 0;
    }
}