<div class="row">
    <div style="justify-content: center;display: flex;flex-wrap: wrap;" class="col-sm-12">
        <h1 style="text-align: center;">WELCOME TO BLOOD APP
        <h3>Choose Donor Or Receiver</h3></h1>
    </div>
    <div class="col-sm-6">
        <div style="padding: 11%;width: 67%;" class="container-login100-form-btn">
            <button class="login100-form-btn">
                Login
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="padding: 11%;width: 67%;" class="container-login100-form-btn">
            <button class="login100-form-btn">
                Login
            </button>
        </div>
    </div>
</div>