/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import 'angular-notifier/styles';
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import 'angular-notifier/styles/themes/theme-material.css'; */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('assets/fonts/poppins/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Poppins-Bold;
  src: url('assets/fonts/poppins/Poppins-Bold.ttf') format("truetype"); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('assets/fonts/poppins/Poppins-Medium.ttf') format("truetype"); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf') format("truetype"); 
}