{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <app-root>Loading the app...</app-root>
 
  <link rel="stylesheet" href="{% static 'front_end/styles.ee1bbb74c02872b1ee5c.css' %}">
  <script type="text/javascript" src="{% static 'front_end/runtime-es2015.1eba213af0b233498d9d.js' %}"></script>
  <script type="text/javascript" src="{% static 'front_end/polyfills-es2015.690002c25ea8557bb4b0.js' %}"></script>  
  <!-- <script type="text/javascript" src="{% static 'front_end/styles-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'front_end/vendor-es5.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'front_end/main-es2015.b3a8c9c8c259f6ddb5a6.js' %}"></script>
 
{% endblock %}