{% extends "base.html" %}
{% load static %}

{% block content %}
  <app-root style="margin-top: 19px;">Loading the app...</app-root>
 
  <link rel="stylesheet" href="{% static 'front_end/styles.867623d9d6ffebe90eb6.css' %}">
  <script type="text/javascript" src="{% static 'front_end/runtime-es2015.1eba213af0b233498d9d.js' %}"></script>
  <script type="text/javascript" src="{% static 'front_end/polyfills-es2015.12dd4be351bc232e11d5.js' %}"></script>    
  <script type="text/javascript" src="{% static 'front_end/main-es2015.a67f36df82aac8e8244e.js' %}"></script>
 
{% endblock %}