<body>
<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="form-horizontal form-group" role="form">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.first_name" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.last_name" type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email* </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.email" type="email" id="email" placeholder="Email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">Username* </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.username" type="text" id="username" placeholder="Username" class="form-control" name="username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Password*</label>
            <div class="col-sm-9">
                <input [(ngModel)]="password" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Confirm Password*</label>
            <div class="col-sm-9">
                <input [(ngModel)]="secPassword" type="password" id="secPassword" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-4 control-label">Date of Birth*</label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.birth_date" type="date" id="birthDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-4 control-label">Phone number </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.phone_no" type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>
        <div class="form-group">
            <label for="BloodGroup" class="col-sm-4 control-label">Blood Group* </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.bloodGroup" type="text" id="BloodGroup" placeholder="Please Write your Blood Group"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Height" class="col-sm-4 control-label">Height* </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.height" type="number" id="height" placeholder="Please write your height in centimetres"
                    class="form-control">
            </div>
        </div>        
        <div class="form-group">
            <label for="weight" class="col-sm-4 control-label">Weight* </label>
            <div class="col-sm-9">
                <input [(ngModel)]="registerInfo.weight" type="number" id="weight" placeholder="Please write your weight in kilograms"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Gender</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="registerInfo.gender" type="radio" name="gender" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="registerInfo.gender" type="radio" name="gender" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Want to:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="registerInfo.blood_dr" type="radio" name="blood" id="DonorType" value="Donor">Donor
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="registerInfo.blood_dr" type="radio" name="blood" id="ReceiverType" value="Receiver">Receiver
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-sm-4">Do u have Any Medications or any Family Disease Trait?</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="medication" type="radio" name="meds" id="YES" value="YES">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [(ngModel)]="medication" type="radio" name="meds" id="NO" value="NO">No
                        </label>
                    </div>
                </div>
            </div>
        </div> -->
        <div>
            <label for="oldMeds" class="col-sm-4 control-label">List Them Here*</label>
            <div class="col-sm-9">
                <textarea [(ngModel)]="registerInfo.medications" type="text" id="weight" placeholder="Enter Your Medications or any Old Disease Traits(If None then leave this column empty)"
                    class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <button type="submit" (click) = "registerUser()" class="btn btn-primary btn-block">Register</button>
    </div>
</div>
</body>