<div class="container">
    <div class="row">
        <!--userMetaData <div *ngFor="let user of this.common.specialFeed" class="kt-portlet__body" style="margin-bottom:20px;"> -->
        <div *ngFor="let user of donorData" class="kt-portlet__body" style="margin-bottom:20px;">
                <div class="kt-widget kt-widget--user-profile-3">
                    <div class="kt-widget__top">
                        <div class="div">
                            <div style="float: left;">
                                <div class="kt-widget__media kt-hidden-">                                    
                                    <ngx-avatar name="{{user.first_name}} {{user.last_name}}"> </ngx-avatar>
                                </div>                                
                            </div>
                            <div class="kt-widget__content" style="color: #222222;">
                                <div class="kt-widget__head">
                                    {{user.first_name|titlecase}}
                                    {{user.last_name|titlecase}}
                                </div>
                                <div class="kt-widget__info">
                                    <div class="kt-widget__subhead">
                                        <span><i class="fas fa-envelope"></i>&nbsp;{{user.email}}</span>&nbsp;
                                        <span><i class="far fa-calendar"></i>&nbsp;{{user.birth_date}} </span>&nbsp;
                                        <span><i
                                                class="fa fa-map-marker"></i>&nbsp;New York</span>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>                          
                            <div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>