<!-- <form [formGroup] = "regForm">
    <div class="form-horizontal" role="form">        
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-9">
                <input [formControl]="firstName" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-9">
                <input [formControl]="lastName" type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email* </label>
            <div class="col-sm-9">
                <input [formControl]="email" type="email" id="email" placeholder="Email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Username* </label>
            <div class="col-sm-9">
                <input [formControl]="username" type="text" id="username" placeholder="Username" class="form-control" name="username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Password*</label>
            <div class="col-sm-9">
                <input [formControl]="FirstPassword" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Confirm Password*</label>
            <div class="col-sm-9">
                <input [formControl]="SecPassword" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-4 control-label">Date of Birth*</label>
            <div class="col-sm-9">
                <input [formControl]="birthDate" type="date" id="birthDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-4 control-label">Phone number </label>
            <div class="col-sm-9">
                <input [formControl]="phoneNumber" type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>
        <div class="form-group">
            <label for="BloodGroup" class="col-sm-4 control-label">Blood Group* </label>
            <div class="col-sm-9">
                <input [formControl]="blood" type="text" id="BloodGroup" placeholder="Please Write your Blood Group"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Height" class="col-sm-4 control-label">Height* </label>
            <div class="col-sm-9">
                <input [formControl]="height" type="number" id="height" placeholder="Please write your height in centimetres"
                    class="form-control">
            </div>
        </div>        
        <div class="form-group">
            <label for="weight" class="col-sm-4 control-label">Weight* </label>
            <div class="col-sm-9">
                <input [formControl]="weight" type="number" id="weight" placeholder="Please write your weight in kilograms"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Gender</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="gender" type="radio" name="gender" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="gender" type="radio" name="gender" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Want to:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="bloodDR" type="radio" name="blood" id="DonorType" value="Donor">Donor
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="bloodDR" type="radio" name="blood" id="ReceiverType" value="Receiver">Receiver
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Do u have Any Medications or any Family Disease Trait?</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="medication" type="radio" name="meds" id="YES" value="YES">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input [formControl]="medication" type="radio" name="meds" id="NO" value="NO">No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="medication == 'YES'" class="form-group">
            <label for="oldMeds" class="col-sm-4 control-label">List Them Here</label>
            <div class="col-sm-9">
                <textarea [formControl]="oldMeds" type="text" id="weight" placeholder="Enter Your Medications or any Old Disease Traits"
                    class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <button type="submit" (click) = "registerUser()" class="btn btn-primary btn-block">Register</button>
    </div>
    </form> -->
    <!-- <div style="display: grid;" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img style="height: fit-content;" src="assets/images/profile_image.png" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                {{user.first_name}} {{user.last_name}}</h4>
                            <small><cite title="San Francisco, USA">Feature of location not available now<i class="glyphicon glyphicon-map-marker">
                            </i></cite></small>
                            <p>
                                <i class="fa fa-envelope"></i> {{user.email}}
                                <br />
                                <i class="fa fa-mobile"></i> {{user.phone_no}}
                                <br />
                                <i class="fa fa-gift"></i> {{user.birth_date}}<br>
                                <b>Gender</b>: {{user.gender}}<br>
                                <b>Medications</b>: {{user.medications}}<br>
                                <b>Blood Group</b>: {{user.bloodGroup}}<br>
                                <b>Height</b>: {{user.height}}<br>
                                <b>Weight</b>: {{user.weight}}<br>
                            </p>                            
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    Social</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
            <div class="div">
                <div style="float: left;">
                    <div class="kt-widget__media kt-hidden-">
                        <ngx-avatar name="{{user.first_name}} {{user.last_name}}"> </ngx-avatar>
                    </div>
                </div>
                <div class="kt-widget__content" style="color: #222222;">
                    <div class="kt-widget__head">
                        {{user.first_name|titlecase}}
                        {{user.last_name|titlecase}}
                    </div>
                    <div class="kt-widget__info">
                        <div class="kt-widget__subhead">
                            <span><i class="fa fa-envelope"></i>&nbsp;{{user.email}}</span>&nbsp;
                            <span><i class="fa fa-calendar"></i>&nbsp;{{user.birth_date}} </span>&nbsp;
                            <span><i class="fa fa-map-marker"></i>&nbsp;New York</span>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="form-group">
                    <label class="control-label col-sm-4">Do u have Any Medications or any Family Disease Trait?</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="medication" type="radio" name="meds" id="YES" value="YES">Yes
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="medication" type="radio" name="meds" id="NO" value="NO">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div> -->
        
    <!--<body>
        <app-nav-bar></app-nav-bar>
        <div class="container">
            <div class="form-horizontal form-group" role="form">
                <h2>Registration</h2>
                <div style="display: flex; flex-wrap: wrap; justify-content: center;" class="image-cropper form-group">
                    <img style="border: 5px solid #756152;" *ngIf = "profile_img" id="profileImage" [src]="profile_img">
                    <div class="col-sm-9">
                        <label class="form-control imageLabel">Select Profile Photo
                        <input (change) = "getImage($event)" accept="image/*" style="display: none;" type="file">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-4 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.first_name" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.last_name" type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.email" type="email" id="email" placeholder="Email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-4 control-label">Username* </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.username" type="text" id="username" placeholder="Username" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Password*</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="password" type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Confirm Password*</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="secPassword" type="password" id="secPassword" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-4 control-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.birth_date" type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-4 control-label">Phone number </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.phone_no" type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                        <span class="help-block">Your phone number won't be disclosed anywhere </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="BloodGroup" class="col-sm-4 control-label">Blood Group* </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.bloodGroup" type="text" id="BloodGroup" placeholder="Please Write your Blood Group"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Height" class="col-sm-4 control-label">Height* </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.height" type="number" id="height" placeholder="Please write your height in centimetres"
                            class="form-control">
                    </div>
                </div>        
                <div class="form-group">
                    <label for="weight" class="col-sm-4 control-label">Weight* </label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="registerInfo.weight" type="number" id="weight" placeholder="Please write your weight in kilograms"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="registerInfo.gender" type="radio" name="gender" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="registerInfo.gender" type="radio" name="gender" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Want to:</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="registerInfo.blood_dr" type="radio" name="blood" id="DonorType" value="Donor">Donor
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input [(ngModel)]="registerInfo.blood_dr" type="radio" name="blood" id="ReceiverType" value="Receiver">Receiver
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="oldMeds" class="col-sm-4 control-label">List Them Here*</label>
                    <div class="col-sm-9">
                        <textarea [(ngModel)]="registerInfo.medications" type="text" id="weight" placeholder="Enter Your Medications or any Old Disease Traits(If None then leave this column empty)"
                            class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" (click) = "registerUser()" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
        </body>
    -->
